# fly.toml app configuration file generated for kiosk-server-test on 2025-11-24T02:31:19Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kiosk-server-test'
primary_region = 'sjc'

[env]
  PORT = '8000'
  DATABASE_URL = 'sqlite:////data/kiosk.db'
  SERVER_HOST = 'https://kiosk-server-test.fly.dev'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[[mounts]]
  source = 'kiosk_data'
  destination = '/data'
  initial_size = '1gb'
